
.main-container{
    background-color: #7dbbd1;
    text-align: center;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

button{
    font-size:x-large;
    margin: 1rem;
    min-height: 34px;
    min-width: 64px;
    border: none;
    border-radius: 5px;
}

input{
  font-size:2em;
  font-weight:bold;
  width: 60px;
  height: 26px;
  border: none;
  background-color: transparent;
  color: #f5f5f5;
  margin-top: 20px;
  outline: none;
  padding: 8px;
}

.seedling-container{
    position:relative;
    margin: 0 auto;
    width: 320px;
    height: 320px;
    border-radius: 50%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.seedling-image{
    position: relative;
    border-radius: 50%;
}
.timer-display{
    color: whitesmoke;
}
